.power-clock {
    font-size: 5em;
}

.power-button {
    font-size: 3em;
    min-width: 40px;
    margin: 2.5px;
    border-radius: 2px;
}

.power-button-left {
    padding-right: 18px;
}

.power-button-power {
    color: #CC5F5F;
}