/* central command palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    z-index: 100;
    border: solid 2px #5BCEFA !important;
    border-radius: 6px !important;
    box-shadow: none !important;
}

.monaco-workbench .part.statusbar>.items-container>.statusbar-item.remote-kind {
    background-color: #F5A9B8 !important;
}